@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

nav{
    width:100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#033747, #012733);
    margin-top: -720px;
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}
nav li a:hover{
    color: #ff8c69;
    transition: all 0.4s ease 0s;
}
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid {
    display: grid;
    width: 1824px;
    grid-gap: 96px;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    align-items: start;
}

.grid-item {
    background-color: #fff;
    border-radius: 6.4px;
    overflow: hidden;
    box-shadow: 0 48px 96px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

    .grid-item:hover {
        transform: translateY(-0.5%);
        box-shadow: 0 64px 128px rgba(0, 0, 0, 0.5);
    }

.card-img {
    display: block;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.card-content {
    padding: 48px;
}

.card-header {
    font-size: 48px;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 24px;
}

.card-text {
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 40px;
}

.card-btn {
    display: block;
    width: 100%;
    padding: -40px;
    font-size: 20px;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 6.4px;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 1.6px;
}

    .card-btn span {
        margin-left: 16px;
        transition: 0.2s;
    }

    .card-btn:hover,
    .card-btn:active {
        background-color: #c2cffc;
    }

        .card-btn:hover span,
        .card-btn:active span {
            margin-left: 24px;
        }

@media only screen and (max-width: 960px) {
    body {
        padding: 48px;
    }

    .grid {
        grid-gap: 48px;
    }
}
